html {
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

*, 
::after, 
::before {
    box-sizing: border-box;
}

body {
    align-items: flex-start;
    background-color: #167746;
    color: #fff;
    display: flex;
    font-family: "IBM Plex Sans", sans-serif;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
    padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 3rem;
    margin: 0;
}

h2 {
    font-family: "Fira Mono", monospace;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: -0.53rem;
    line-height: 2.2rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: lowercase;
    line-height: 1.5rem;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

p {
    font-weight: 400;
    margin-top: 0.25rem;
}

a {
    text-decoration: none;
    color: inherit;
}

#root {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: min-content;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

header a {
    outline-style: dotted;
    outline-width: 0.16rem;
    padding: 1rem;
    width: 6.7rem;
}

main {
    display: grid;
    grid: repeat(4, 1fr) / auto-flow repeat(auto-fit, 120px);
    grid-gap: 1rem;
    height: 100%;
    justify-content: start;
    width: 100%;
}

main > * {
    display: flex;
    opacity: 0.95;
    width: 100%;
}

.entry:hover {
    text-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
    transform: translateY(-2px);
    transition: all 0.25s cubic-bezier(.25,.8,.25,1);
}

.entry svg,
.entry img {
    margin: 0;
    padding: 0;
    width: 100%;
}

.lime {
    color: #9ACD32;
}

.salmon {
    color: #Fc9072;
}

.mustard {
    color: rgb(255, 187, 0);
}

.curacao {
    color: #40e0d0;
}

.eggplant {
    background-color: #8065d5;
}

.fuchsia {
    color: #dd3fbb;
}

@media screen and (min-width: 400px) {
    body {
        align-items: center;
    }
    #root {
        margin-top: 4rem;
    }
}

@media screen and (min-width: 540px) {
    body {
        justify-content: center;
        background-color: #005743;
    }
    #root {
        flex-direction: row;
        margin-top: 0;
    }
}
