:root {
    --salmon: #fc9072;
    --mustard: #ffbb00;
    --forest: #005743;
    --white-d: #fffd;
}

@font-face {
    font-family: 'Luam';
    src: url('./Luam-Bold.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
}

html {
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

*, 
::after, 
::before {
    box-sizing: border-box;
}

body {
    align-items: flex-start;
    background-color: var(--forest);
    color: var(--white-d);
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Sans", sans-serif;
    height: 100%;
    justify-content: flex-start;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    background-image: url('../img/canvas-tile.png');
    background-repeat: repeat;
    background-size: 32rem;
    background-blend-mode: multiply;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 3rem;
    margin: 0;
}

h1 {
    font-family: "Luam", sans-serif;
    font-size: 3.2rem;
    font-weight: bold;
    text-transform: lowercase;
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: .5rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: lowercase;
    line-height: 1.5rem;
    transition: all .3s cubic-bezier(.25,.8,.25,1);
}

p {
    font-weight: 400;
    margin-top: .25rem;
}

a {
    color: inherit;
    text-decoration: none;
}

#app {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

header a {
    border-style: dotted;
    border-width: 0.2rem;
    border-color: var(--white-d);
    padding: 1.2rem 0 1rem 0;
    width: 6.7rem;
}

main {
    display: grid;
    grid: repeat(auto-fit, 1fr) / auto-flow repeat(auto-fit, 120px);
    grid-gap: 1vh;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
}

main > * {
    opacity: 0.95;
    width: 100%;
}

header:hover,
.entry:hover {
    text-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
    transform: translateY(-2px);
    transition: all 0.25s cubic-bezier(.25,.8,.25,1);
    color: var(--salmon);
}

header a:hover {
    border-color: var(--salmon);
}

.entry svg,
.entry img {
    margin: 0;
    padding: 0;
    width: 100%;
}

@media screen and (min-width: 400px) {
    body {
        align-items: center;
    }
}

@media screen and (min-width: 540px) {
    #app {
        flex-direction: row;
    }
}
