<!DOCTYPE html>
<html lang="en">
<head>

	<title>struc·ture</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles/statics.css">

</head>
<body>

<div id="home">
	<a href="https://ngotm.github.io">ngotm.github.io</a>
</div>

<div id="app">

		<!-- Canvas -->
		<div id="canvas-container">

			<svg id="canvas" ref="canvas">
				<rect id="rect-canvas" width="100%" height="100%"></rect>
				<path v-show="viewSettings.axes" class="axis" :d="axisXDef"></path>
				<path v-show="viewSettings.axes" class="axis" :d="axisYDef"></path>
				<node-circle
					v-for="(node, index) in nodes"
					:key="node.id"
					:node="node"
					:view="viewSettings"
				></node-circle>
				<member-path
					v-for="(member, index) in members"
					:key="member.id"
					:member="member"
					:member-force="memberForces[index]"
					:view="viewSettings"
				></member-path>
			</svg>
			
			<!-- Display Settings -->
			<div id="canvas-settings-container">

					<div id="canvas-settings" v-show="viewSettings.display">

						<div>Scale</div>
						<div style="grid-column: span 2">
							<input type="range" class="form-control-range" 
									min="0" max="100" v-model="viewSettings.scale">
						</div>

						<div>Origin</div>
						<div>
							<input type="range" class="form-control-range" 
									min="0" :max="canvasW" v-model.number="viewSettings.x">
						</div>
						<div>
							<input type="range" class="form-control-range" 
								min="0" :max="canvasH" v-model.number="viewSettings.y"/>
						</div>
						
						<checkbox-input :object="viewSettings" :setting="'nodeLabels'" 
								:id="'checkbox-node-labels'" :label="'Node labels'"></checkbox-input>
						<checkbox-input :object="viewSettings" :setting="'appliedForces'" 
								:id="'checkbox-applied-forces'" :label="'Applied forces'"></checkbox-input>
						<checkbox-input :object="viewSettings" :setting="'supports'" 
								:id="'checkbox-supports'" :label="'Supports'"></checkbox-input>
						<checkbox-input :object="viewSettings" :setting="'memberForces'" 
								:id="'checkbox-member-forces'" :label="'Member forces'"></checkbox-input>

					</div>

					<div id="canvas-header">
						<div>Canvas</div>
						<button class="btn btn-outline-dark" 
								@click="viewSettings.display=!viewSettings.display"
						>&#x2699;</button>
					</div>

			</div>

		</div>

		<!-- Node Table -->
		<table id="node-table" class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Nodes ({{ nodes.length }})</th>
				</tr>
				<tr 
					is="node-submission-row"
					:nodes="nodes"
					@submit-node="addNode"
					class="table-dark row-submission"
				></tr>
			</thead>
			<tbody>		
				<tr
					is="node-entry-row"
					v-for="(node, index) in nodes"
					:key="node.id"
					:node="node"
					:nodes="nodes"
					@remove="removeNodeByIndex(nodes, members, index)"
				></tr>
			</tbody>
		</table>
		
		<!-- Member Table -->
		<table id="member-table" class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Members ({{ members.length }})</th>
				</tr>
				<tr 
					is="member-submission-row"
					class="table-dark row-submission"
					:members="members"
					:nodes="nodes"
					@submit-member="addMember"
				></tr>
			</thead>
			<tbody>		
				<tr
					is="member-entry"
					v-for="(member, index) in members"
					:key="member.id"
					:member="member"
					:nodes="nodes"
					@remove="removeMemberByIndex(members, index)"
				></tr>
			</tbody>
		</table>

</div>

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/mathjs@5.0.4/dist/math.min.js"></script>
<script src="scripts/statics.js"></script>

</body>
</html>
