<!DOCTYPE html>
<html lang="en">
<head>

	<title>struc·ture</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Tim Ngo on GitHub." />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles/structure.css">

</head>
<body>

<div id="home">
	<a href="https://ngotm.github.io">ngotm.github.io</a>
</div>

<div id="app">

		<!-- Canvas -->
		<div id="canvas-container">

			<svg id="canvas" ref="canvas" @wheel.prevent="zoomCanvas($event.deltaY)">
				<rect id="rect-canvas" width="100%" height="100%"></rect>
				<path v-show="viewSettings.axes" class="axis" :d="axisXDef"></path>
				<path v-show="viewSettings.axes" class="axis" :d="axisYDef"></path>
				<element-path
					v-for="(element, index) in elements"
					:key="element.id"
					:element="element"
					:element-force="elementForces[index]"
					:view="viewSettings"
				></element-path>
				<node-circle
					v-for="(node, index) in nodes"
					:key="node.id"
					:node="node"
					:reactions="nodeReactions[index]"
					:view="viewSettings"
				></node-circle>
			</svg>
			
			<!-- Display Settings -->
			<div id="canvas-settings-container">

					<div id="canvas-settings" v-show="viewSettings.display">

						<div>Scale</div>
						<div style="grid-column: span 2">
							<input type="range" class="form-control-range" 
									min="0" max="100" v-model.number="viewSettings.scale">
						</div>

						<div>Origin</div>
						<div>
							<input type="range" class="form-control-range" 
									min="0" :max="canvasW" v-model.number="viewSettings.x">
						</div>
						<div>
							<input type="range" class="form-control-range" 
								min="0" :max="canvasH" v-model.number="viewSettings.y"/>
						</div>
						
						<input-checkbox :object="viewSettings" :setting="'nodeLabels'" 
								:id="'checkbox-node-labels'" :label="'Node labels'"></input-checkbox>
						<input-checkbox :object="viewSettings" :setting="'appliedForces'" 
								:id="'checkbox-applied-forces'" :label="'Applied forces'"></input-checkbox>
						<input-checkbox :object="viewSettings" :setting="'supports'" 
								:id="'checkbox-supports'" :label="'Supports'"></input-checkbox>
						<input-checkbox :object="viewSettings" :setting="'elementForces'" 
								:id="'checkbox-element-forces'" :label="'Element forces'"></input-checkbox>
						<input-checkbox :object="viewSettings" :setting="'reactions'" 
								:id="'checkbox-reactions'" :label="'Reactions'"></input-checkbox>

					</div>

					<div id="canvas-header">
						<div>Canvas</div>
						<button class="btn btn-outline-dark" 
								@click="viewSettings.display=!viewSettings.display"
						>&#x2699;</button>
					</div>

			</div>

		</div>

		<!-- Node Table -->
		<table id="node-table" class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Nodes ({{ nodes.length }})</th>
				</tr>
				<tr 
					is="node-row-submission"
					:nodes="nodes"
					@submit-node="addNode"
					class="table-dark row-submission"
				></tr>
			</thead>
			<tbody>		
				<tr
					is="node-row"
					v-for="(node, index) in nodes"
					:key="node.id"
					:node="node"
					:nodes="nodes"
					@remove="removeNodeByIndex(nodes, elements, index)"
				></tr>
			</tbody>
		</table>
		
		<!-- Element Table -->
		<table id="element-table" class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Elements ({{ elements.length }})</th>
				</tr>
				<tr 
					is="element-row-submission"
					class="table-dark row-submission"
					:elements="elements"
					:nodes="nodes"
					@submit-element="addElement"
				></tr>
			</thead>
			<tbody>		
				<tr
					is="element-row"
					v-for="(element, index) in elements"
					:key="element.id"
					:element="element"
					:nodes="nodes"
					@remove="removeElementByIndex(elements, index)"
				></tr>
			</tbody>
		</table>

</div>

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/mathjs@5.0.4/dist/math.min.js"></script>
<script src="scripts/structure.js"></script>

</body>
</html>
