body {
    align-items: center;
    background-color: #393f46;
    display: flex;
    font-family: "Source Sans Pro", "Helvetica Neue LT Std", Arial, sans-serif;
    height: 100vh;
    justify-content: center;
}

#main {
    background-color: #ddd;
    display: grid;
    grid-template-rows: 1fr repeat(1, 1fr);
    justify-content: center;
    margin-top: -10rem;
    outline: 0.5rem dotted #393f46;
    outline-offset: -0.24rem;
    padding: 2rem;
}

#home {
    font-weight: 700;
}

.entry {
    display: flex;
    flex-direction: column;
}

a {
    color: black;
}

a:hover {
    color: #aa3333;
}
