body {
	font-family: "Source Sans Pro", "Helvetica Neue LT Std", Arial, sans-serif;
	background-color: #393f46;
	color: #292724;
}

#home { 
    margin: 0.5em 1em;
}

#home a {
	color: #ffffff;
	font-weight: bold;
}

#app {
	display: grid;
	grid-template-columns: repeat(2, 16rem) repeat(2, 19rem);
	grid-template-rows: 34rem;
	left: 50%;
	margin: -17rem 0 0 -34rem;
	position: absolute;
	top: 50%;
}

/* Canvas */

#canvas-container {
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: 1fr;
	grid-gap: 0;
	grid-column: span 2;
	height: 100%;
}

#canvas {
	height: 100%;
	overflow: hidden; 
	width: 100%;
	grid-area: 1 / 1 / end / end;
}

#canvas-settings-container {
	color: #ffffff;
	display: flex;
	flex-direction: column;
	grid-area: 2 / 1 / end / end;
}

.row-submission {
	background-color: #c6c8ca; 
	border-top: 1px solid #32383e;
	display: grid; 
	grid: auto / repeat(9, 1fr) 17px;
}

.row-submission td {
	border-top: none;
}

@media screen and (max-width: 1000px) {
	#app {
		grid-template-columns: repeat(2, minmax(140px, 1fr));
		grid-template-rows: 32rem 32rem;
		left: 0;
		margin: 0;
		top: 0;
		width: 100%;
	}
	#canvas-container {
		grid-template-rows: min-content 1fr;
	}
	#canvas-settings-container {
		flex-direction: column-reverse;
		grid-area: 1 / 1 / 2 / end;
	}
	.row-submission {
		grid: auto / repeat(9, 1fr);
	}
}

@media screen and (max-width: 540px) {
	#app {
		grid-template-rows: 32rem 16rem 16rem;
	}
	#canvas-settings-container {
		flex-direction: column-reverse;
		grid-area: 1 / 1 / 2 / end;
	}
	#node-table, #element-table {
		grid-column: span 2;
	}
}

#canvas-header {
	align-items: center; 
	background-color: #212529;
	margin: 0;
	display: flex; 
	font-weight: 700;
	justify-content: space-between; 
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	z-index: 1;
}

#canvas-header button {
	border: none; 
	color: white; 
	font-weight: 700;
	
}

#canvas-settings {
	font-size: 0.875rem;
	background-color: #21252988;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.75rem 0.5rem;
	padding: 0.5rem 1rem;
}

/* SVG elements */

svg #rect-canvas {
	fill: #ffffff; 
	stroke: #dee2e6;
	stroke-width: 2px;
	
}

svg .axis {
	stroke: #d0d0d0;
	stroke-dasharray: 1, 4;
	stroke-width: 0.125rem;
}

svg text {
	font-size: 0.75rem;
}

svg .circle-node {
	fill: #000;
	stroke: #000;
}

svg .circle-release {
	fill: #fff;
	stroke: #000;
}

.path-force {
	marker-end: url(#head);
	
	stroke: #947Ebc;
	/* stroke: #292724; */
	stroke-width: 2px;
}

.path-element {
	stroke: #292724;
	stroke-width: 2px; 
}

.path-element-load {
	marker-end: url(#arrow);
	marker-mid: url(#arrow);
	marker-start: url(#arrow);
	stroke: #947Ebc;
	stroke-width: 1px; 
	fill: none;
}

.triangle-support {
	fill: #292724aa;
}

/* Table */

#node-table,
#element-table {
	background-color: white;
	display: grid; 
	grid-template-rows: min-content 1fr; 
	margin: 0;
}

th {
	display: flex;
	grid-column: 1 / end;
	border: none !important;
}

th button {
	border: none !important; 
	color: white !important; 
	font-weight: 700 !important;
	height: 1.6em;
	width: 1.6em;
	padding: 0 !important;
}

tbody {
	background-color: white;
	
	overflow-y: scroll;
	position: relative;
}

thead {
	background-color: #212529;
}

thead tr {
	padding: 0em 0.5em;
	border: none;
}

tbody tr {
	background-color: rgba(0,0,0,.05);
	margin: 0.5em 0.5em;
	border-radius: 0.25rem;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

tr {
	display: grid;
	grid: auto / repeat(9, 1fr);
	position: relative;
}

tr .cell-2 {
	grid-column: span 2;
}

tr .cell {
	grid-column: span 3;
	justify-content: space-between;
	font-size: 0.75rem;
}

tr .cell-button {
	grid-column: span 2;
	justify-content: flex-start;
}

tr .row-options {
	border: none;
	padding-top: 0;
}

td {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	padding: 0.2rem !important; 
	border-top: none !important; 
}

td .cell-input {
	padding: .25rem .125rem .25rem .5rem !important;
}

td .cell-input[type='number'] {
	-moz-appearance: textfield !important;
}

td .cell-input[type='number']:hover {
	-moz-appearance: textfield !important;
	border-radius: 0.2rem 0 0 0.2rem !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Number input spinner */

.btn-spinner {
	background-color: white; 
	display: grid; 
	grid-template-rows: 50% 50%;
	width: 1rem; 
}

.btn-spinner button {
	line-height: 1em !important;
	margin: 0 !important;
	padding: 0 !important; 
}

.btn-spinner button:first-child {
	border-radius: 0 0.2rem 0 0 !important;
	margin-bottom: -1px !important; 
}

.btn-spinner button:last-child {
	border-radius: 0 0 0.2rem 0 !important;
	border-top: none;
}



.submit, .delete, .options {
	background-color: white;
	line-height: 1;
	height: 1.5rem;
	padding: 0 !important;
	font-size: 1rem;
}

.submit {
	width: 1.6rem;
}

.options {
	border-radius: .25rem 0 0 .25rem;
	border-right: none;
	width: 1.6rem;
}

.delete {
	border-radius: 0 .25rem .25rem 0;
	width: 1.6rem;
}

/* Transitions */

.list-item {
	transition: all 0.1s;
  }
.list-enter, .list-leave-to {
	opacity: 0;
}
.list-enter {
	transform: translateY(-2rem);
}
.list-leave-active {
	position: absolute;
}


.slide-fade-enter-active, .slide-fade-leave-active {
	transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
	transform: translateY(30px);
	opacity: 0;
}