body {
    background-color: #393f46;
  }

#home { 
    margin: 0.5em 1em;
}

#home a {
	color: #ffffff;
	font-weight: bold;
}

header {
    display: flex; 
    justify-content: space-between; 
    width: 100%;
}

#main {
    background-color: #303030;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    width: 500px;
    height: 500px;
    padding: 0px;
    display: flex;
    outline: solid dodgerblue 3px;
    flex-direction: column;
  }

button {
    height: 3em;
    margin: 2px;
}

#control {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    float: right;
    margin-right: 8px;
}

#log-container {
    display: flex;
    margin-top: 8px;
    margin-left: 8px;
}

#log {
    font-family: monospace;
    text-align: right;
    color: #ee1;
    width: 8em;
}

.cell-input {
    text-align: center;
    display: block; 
    border-radius: 0px;
    height: 100%;
  }

  .cell-input[readonly] {
    background-color: white; 
    font-weight: bold;
  }

  .sudoku-row {
    flex-grow: 1;
  }

  .r3 {
    border-bottom-color: black;
  }

  .r6 {
    border-bottom-color: black;
  }

  .c3 {
    border-right-color: black;
  }

  .c6 {
    border-right-color: black;
  }